*{
    margin: 0;
    padding: 0;
}
.center{
    background-color: rgb(33, 32, 32);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.center .heading{
    font-size: 4rem;
    color: white;
    font-weight: bold;
    background: linear-gradient(45deg, red, blue, green, yellow, purple);
    background-size: 400% 400%; /* Ensures the gradient will move */
    color: transparent;
    -webkit-background-clip: text; /* Makes the gradient visible on text*/
    animation: colorAnimation 5s ease infinite; /* Animates the color change */
}
.back-color{
    background-color: rgb(216, 142, 6);
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0 15px;

}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    padding: 20px;
    font-size: 6em;
    border-radius: 10px;
    color: red;
}
@keyframes colorAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@media screen and (max-width:700px) {
    .back-color{
        width: 90%;
    }
    .center .heading{
        font-size: 2.5rem;
    }
    .clock{
        width: 90%;
        font-size: 5em
    }
}